In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [4]:
sample = pd.read_csv('Sample_Submission_ZAuTl8O_FK3zQHh.csv')
test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [5]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
train.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [7]:
train.Gender = train.Gender.map(lambda x: 0 if x=='Female' else 1)

In [8]:
train.loc[train.Credit_History.isnull(), 'Credit_History'] = 0

In [9]:
train.Credit_History.value_counts()

1.0    475
0.0    139
Name: Credit_History, dtype: int64

In [10]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [11]:
train.Married.value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [12]:
train.Married = train.Married.map(lambda x: 1 if x=='Yes' else 0)

In [13]:
train.loc[train.Dependents.isnull(), 'Dependents'] = 0
#train.Dependents[train.Dependents.isnull()]=0

In [14]:
train.Dependents.value_counts()

0     345
1     102
2     101
3+     51
0      15
Name: Dependents, dtype: int64

In [15]:
train.Dependents = pd.to_numeric(train.Dependents, errors = 'coerce')

In [16]:
train.loc[train.Dependents.isnull(), 'Dependents']=3

In [17]:
train.Dependents.value_counts()

0.0    360
1.0    102
2.0    101
3.0     51
Name: Dependents, dtype: int64

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(5), int64(3), object(5)
memory usage: 62.4+ KB

In [19]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [20]:
train.Education.value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [21]:
train.Education = train.Education.map(lambda x: 0 if x=='Not Graduate' else 1 if x=='Graduate' else 0 if x==0 else 1)

In [22]:
train.Self_Employed = train.Self_Employed.map(lambda x: 0 if x=='No' else 1 if x=='Yes' else 0 if x==0 else 1)

In [23]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(5), int64(5), object(3)
memory usage: 62.4+ KB

In [24]:
train.loc[train.LoanAmount.isnull(), 'LoanAmount'] = train.LoanAmount.mean()

In [25]:
train.loc[train.Loan_Amount_Term.isnull(),'Loan_Amount_Term'] = train.Loan_Amount_Term.mean()

In [26]:
train.Property_Area.value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [27]:
train.Property_Area = train.Property_Area.map(lambda x: 0 if x == 'Urban' else 1 if x=='Semiurban' else 2)

In [28]:
train.Loan_Status = train.Loan_Status.map(lambda x: 1 if x=='Y' else 0)

In [29]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null int64
Married              614 non-null int64
Dependents           614 non-null float64
Education            614 non-null int64
Self_Employed        614 non-null int64
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null int64
Loan_Status          614 non-null int64
dtypes: float64(5), int64(7), object(1)
memory usage: 62.4+ KB

In [88]:
train.corr()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Gender,1.000000,0.367389,0.172914,-0.045364,-0.023918,0.058809,0.082912,0.107930,-0.073567,0.026655,0.025752,0.017987
Married,0.367389,1.000000,0.340684,-0.017671,-0.016628,0.050194,0.080496,0.145643,-0.103400,-0.023626,-0.000395,0.084281
Dependents,0.172914,0.340684,1.000000,-0.055752,0.042142,0.118202,0.030430,0.163106,-0.101054,-0.017523,0.000244,0.010118
Education,-0.045364,-0.017671,-0.055752,1.000000,0.019059,0.140760,0.062290,0.166998,0.077242,0.081637,-0.065243,0.085884
Self_Employed,-0.023918,-0.016628,0.042142,0.019059,1.000000,0.121356,0.028834,0.112118,-0.040244,-0.001923,0.022732,0.005857
ApplicantIncome,0.058809,0.050194,0.118202,0.140760,0.121356,1.000000,-0.116605,0.565620,-0.045242,0.006986,0.009500,-0.004710
CoapplicantIncome,0.082912,0.080496,0.030430,0.062290,0.028834,-0.116605,1.000000,0.187828,-0.059675,-0.058795,-0.010522,-0.059187
LoanAmount,0.107930,0.145643,0.163106,0.166998,0.112118,0.565620,0.187828,1.000000,0.038801,-0.034518,0.044776,-0.036416
Loan_Amount_Term,-0.073567,-0.103400,-0.101054,0.077242,-0.040244,-0.045242,-0.059675,0.038801,1.000000,0.005446,0.077620,-0.020974
Credit_History,0.026655,-0.023626,-0.017523,0.081637,-0.001923,0.006986,-0.058795,-0.034518,0.005446,1.000000,0.018761,0.432616
Property_Area,0.025752,-0.000395,0.000244,-0.065243,0.022732,0.009500,-0.010522,0.044776,0.077620,0.018761,1.000000,-0.032112
Loan_Status,0.017987,0.084281,0.010118,0.085884,0.005857,-0.004710,-0.059187,-0.036416,-0.020974,0.432616,-0.032112,1.000000

In [78]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.svm import SVC



X = train.drop(['Loan_ID', 'Loan_Status'], axis=1)
y = train['Loan_Status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

rf = RandomForestClassifier(n_estimators = 100)
et = ExtraTreesClassifier(n_estimators = 100)
lr = LogisticRegression(penalty = 'l1', C=.1)
#svc = SVC(kernel = 'linear')
cross_val_score(lr,X,y)

array([0.7804878 , 0.73170732, 0.79901961])

In [79]:
lr.fit(X,y)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [32]:
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
test.Gender = test.Gender.map(lambda x: 0 if x=='Female' else 1)

test.loc[test.Credit_History.isnull(), 'Credit_History'] = 0

test.Married = test.Married.map(lambda x: 1 if x=='Yes' else 0)

test.loc[test.Dependents.isnull(), 'Dependents'] = 0
#train.Dependents[train.Dependents.isnull()]=0

test.Dependents = pd.to_numeric(test.Dependents, errors = 'coerce')

test.loc[test.Dependents.isnull(), 'Dependents']=3

test.Education = test.Education.map(lambda x: 0 if x=='Not Graduate' else 1 if x=='Graduate' else 0 if x==0 else 1)

test.Self_Employed = test.Self_Employed.map(lambda x: 0 if x=='No' else 1 if x=='Yes' else 0 if x==0 else 1)

test.loc[test.LoanAmount.isnull(), 'LoanAmount'] = test.LoanAmount.mean()

test.loc[test.Loan_Amount_Term.isnull(),'Loan_Amount_Term'] = test.Loan_Amount_Term.mean()

test.Property_Area = test.Property_Area.map(lambda x: 0 if x == 'Urban' else 1 if x=='Semiurban' else 2)

# test.Loan_Status = test.Loan_Status.map(lambda x: 1 if x=='Y' else 0)

In [34]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               367 non-null int64
Married              367 non-null int64
Dependents           367 non-null float64
Education            367 non-null int64
Self_Employed        367 non-null int64
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           367 non-null float64
Loan_Amount_Term     367 non-null float64
Credit_History       367 non-null float64
Property_Area        367 non-null int64
dtypes: float64(4), int64(7), object(1)
memory usage: 34.5+ KB

In [80]:
X_test = test.drop(['Loan_ID'], axis=1)

In [81]:
sample.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           N
4  LP001051           Y

In [82]:
sample.Loan_Status = lr.predict(X_test)
sample.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            0
4  LP001051            1

In [83]:
sample['Loan_ID'] = test['Loan_ID']
sample.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            0
4  LP001051            1

In [84]:
sample.Loan_Status.value_counts()

1    279
0     88
Name: Loan_Status, dtype: int64

In [86]:
sample.Loan_Status = sample.Loan_Status.map(lambda x: 'Y' if x==1 else 'N')

In [87]:
sample.to_csv('l1_Predictions.csv', index = False)

In [51]:
list(zip(rf.feature_importances_, X.columns))

[(0.024989683569691667, 'Gender'),
 (0.025518242529179114, 'Married'),
 (0.0529070153112917, 'Dependents'),
 (0.028446945056777632, 'Education'),
 (0.023736904706004334, 'Self_Employed'),
 (0.22620565175641486, 'ApplicantIncome'),
 (0.13191627044043164, 'CoapplicantIncome'),
 (0.2103786438520365, 'LoanAmount'),
 (0.05498194603162161, 'Loan_Amount_Term'),
 (0.16923029685090094, 'Credit_History'),
 (0.05168839989565029, 'Property_Area')]

In [89]:
probs = lr.predict_proba(X_test)

In [107]:
sample_copy = sample
prob4 = probs[:,1]> .35

In [108]:
sample_copy.loc[:,'Loan_Status'] = prob4

In [109]:
sample_copy.loc[:,'Loan_Status'] = sample_copy.Loan_Status.map(lambda x: 'Y' if x==True else 'N')

In [110]:
sample_copy.to_csv('.35 threshhold.csv', index=False)